@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap');
.animecard{
    display: flex;
    width: 700px;
    box-sizing: border-box;
    border: 1px solid black;
    margin-top: 10px;


}

.anime-image{
    flex: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    height:min-content;
    box-sizing: border-box;
    height:45vh;

}

.anime-image > img{
    width: 90%;
    height: 90%;
    object-fit: cover;
    object-position: top;
    box-sizing: border-box;
}

.anime-description-container{

    padding: 10px;  
    flex: 60%;
}


.anime-description-container > h1{
    margin: 0;
    color: #333;
    font-family: 'Open Sans Condensed', sans-serif;
}

.anime-description-container >p {
    font-size: 14px;
    margin: 0;
    color: #666;
    
}

.info{
    color: #666;
    font-size: 16px;
    font-weight: 500;
    font-family: 'Open Sans Condensed', sans-serif;
}

.vr{
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    font-size: 11px;
    border-left: 1px solid #333;
}
.anime-description-container > h3{
    margin: 0;
    font-size: 16px;
    color: rgb(11, 11, 66);
    
}

.imdb{
    outline: none;
    border: none;
    padding: .15em .35em;
    border-radius: .15em;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 100;
    font-size: 18px;
    font-weight: 500px;
    margin: 10px;
    background: radial-gradient(#ffffb8, #ce981d);
}

.crunchyroll{
    width: 100px;
    height: 10px;
    background-color: blue;
    object-fit: contain;
    display: inline;

}
.ratinglogo {
    width: 120px;
    object-fit: contain;
    display: inline-block;
    vertical-align: middle;
    margin-left: 5px; 
}

.watch-button{
    padding: 6px 10px;
    outline: none;
    border: none;
    background-color: gold;
    margin: 5px;
    border: 2px solid gold;
    font-weight: 700;
}

.watch-button:hover{
    background-color: white;
    cursor: pointer;
    transition: ease 0.4s;
}

.watchicon{
    display: none;
    margin-right: 5px;
}
.watch-button:hover > .watchicon{
    color: black;
    display: inline;
    transition: ease 0.4s;
}


@media screen and (max-width:540px) {
        .animecard{
            flex-wrap: wrap;
            width: 100%;
        }
        .anime-description-container > p{
            font-size: 0.9rem;
        }

        .anime-image > img {
            object-fit: contain;    
        }

        .anime-image{
            height: 20vh;
        }

        .info{
            font-size: 18px;
        }
        .rating{
            font-size: 16px;
        }
        
}

@media screen and (max-width:705px) {
    .animecard{
        width: 100%;
    }
}


@media screen and (max-width:400px) {
    .anime-description-container > p {
        font-size: 12px;

    }

    .info {
        font-size: 1rem;
    }

}