.navlist{
    list-style: none;
    color: white;
    display: flex;
    width: 35%;
    justify-content: space-evenly;
    align-items: center;
    z-index: 2;
}


.navlist > li:hover {
    color: #e5a00d;
    transition: ease 0.5s;
}

.navlist > a:hover{
    color: #e5a00d;
    transition: ease 0.5s;
}

@media screen and (max-width:950px) {
        .navlist{
            display: none;
        }
}

